apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.storeName }}
  labels:
    app: {{ .Values.storeName }}
    storeId: {{ .Values.storeId }}
    engine: medusa
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Values.storeName }}
  template:
    metadata:
      labels:
        app: {{ .Values.storeName }}
        storeId: {{ .Values.storeId }}
    spec:
      containers:
      - name: medusa
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: 9000
          name: http
        env:
        - name: DATABASE_URL
          value: "postgres://{{ .Values.postgres.auth.username }}:{{ .Values.postgres.auth.password }}@{{ .Values.storeName }}-postgres:5432/{{ .Values.postgres.auth.database }}"
        - name: REDIS_URL
          value: "redis://{{ .Values.storeName }}-redis-master:6379"
        - name: NODE_ENV
          value: "production"
        resources:
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
