apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.storeName }}
  labels:
    app: {{ .Values.storeName }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: http
    protocol: TCP
    name: http
    {{- if .Values.service.nodePort }}
    nodePort: {{ .Values.service.nodePort }}
    {{- end }}
  selector:
    app: {{ .Values.storeName }}
